extends layout

block content
  div(class="heading-container")
    h1= title
    h3 Welcome to #{title} !
  ul
    each message in messages
      li
        strong #{message.user}:
        |  #{message.text}
        br
        small= message.added.toLocaleString()
  a(href="/new") Create a new message

